/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/assets/vendor
/web/bundles/
/deprecation-detector/
.bowerrc
.ctags
tags
/.idea
Capfile
/app/config/deploy.rb
ansible/
build/
