# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

  twig.extension.text:
      class: Twig_Extensions_Extension_Text
      tags:
          - { name: twig.extension }

  ContactManager:
    class: AppBundle\Model\ContactManager
    arguments:
      - @doctrine.orm.default_entity_manager

  NotesManager:
    class: AppBundle\Model\NotesManager
    arguments:
      - @doctrine.orm.default_entity_manager

  TaskManager:
    class: AppBundle\Model\TaskManager
    arguments:
      - @doctrine.orm.default_entity_manager

  CommentManager:
    class: AppBundle\Model\CommentManager
    arguments:
      - @doctrine.orm.default_entity_manager

  UserManager:
    class: AppBundle\Model\UserManager
    arguments:
      - @doctrine.orm.default_entity_manager

  CalendarManager:
    class: AppBundle\Model\CalendarManager
    arguments:
      - @doctrine.orm.default_entity_manager

  app.form.registration:
   class: AppBundle\Form\Type\RegistrationType
   tags:
      - { name: form.type, alias: app_user_registration }

  FlashMessageListener:
    class: AppBundle\EventListener\FlashMessagesListener
    tags:
      - { name: kernel.event_listener, event: new.user_created, method: onNewUserCreated}
    arguments:
      - @session
      - @translator

  app_edit_comment_voter:
    class: AppBundle\Security\CommentVoter
    arguments:
      - @service_container
    tags:
        - { name: security.voter }

  app.calendar.listener:
    class: AppBundle\EventListener\CalendarEventListener
    tags:
      - { name: kernel.event_listener event: calendar.load_events, method: loadEvents }
    arguments:
      - @doctrine.orm.entity_manager

  app.form.type.planning_edit:
    class: AppBundle\Form\Type\PlanningType
    tags:
      - { name: form.type, alias: app_planning }

