# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

  ContactManager:
    class: AppBundle\Model\ContactManager
    arguments:
      - @doctrine.orm.default_entity_manager
      - @service_container

  NotesManager:
    class: AppBundle\Model\NotesManager
    arguments:
      - @doctrine.orm.default_entity_manager
      - @service_container

