# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

  ContactManager:
    class: AppBundle\Model\ContactManager
    arguments:
      - @doctrine.orm.default_entity_manager
      - @service_container

  NotesManager:
    class: AppBundle\Model\NotesManager
    arguments:
      - @doctrine.orm.default_entity_manager
      - @service_container

  TaskManager:
    class: AppBundle\Model\TaskManager
    arguments:
      - @doctrine.orm.default_entity_manager
      - @service_container

  CommentManager:
    class: AppBundle\Model\CommentManager
    arguments:
      - @doctrine.orm.default_entity_manager
      - @service_container

  UserManager:
    class: AppBundle\Model\UserManager
    arguments:
      - @doctrine.orm.default_entity_manager
      - @service_container

  app.form.registration:
   class: AppBundle\Form\Type\RegistrationType
   tags:
      - { name: form.type, alias: app_user_registration }

  FlashMessageListener:
    class: AppBundle\EventListener\FlashMessagesListener
    tags:
      - { name: kernel.event_listener, event: new.user_created, method: onNewUserCreated}
    arguments:
      - @session
      - @translator
