{% extends 'layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block panel_title %}{{ 'panel_title.register_user'|trans({}, 'messages') }} {% endblock %}

{% block panel_body %}
  <div class="container">
    <form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
      {{ form_widget(form) }}
      <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-md btn-success"/>
  </div>
  {% include 'includes/panelFooter.html.twig' %}
{% endblock %}

