{% extends 'layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
  <div class="user_reset_crm_logo container col-md-6 col-md-offset-3">
    {% include 'includes/crm_logo_with_line.html.twig' %}
    {{ 'resetting.password_already_requested'|trans }}
    <a href="{{ path('main') }}" class="btn btn-md btn-primary pull-right">Volver</a>
  </div>
{% endblock %}
