{% if app.session.flashBag.has('success') %}
<div class="container col-md-5">
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for msg in app.session.flashBag.get('success') %}
      {{ msg }}
    {% endfor %}
  <div>
</div>
{% endif %}
