{% if app.session.flashBag.has('success') %}
  <div class="alert alert-success alert-dismissable col-md-5">
    {% for msg in app.session.flashBag.get('success') %}
      {{ msg }}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
{% endif %}

